ul.dropdown-menu.squared.fixed(role='menu')
  li
    a.view(href='#') 
      span.no-icon View Permissions
  li.divider  
  li
    a.edit(href='#') 
      span.glyphicon.glyphicon-edit 
      span Edit Role
  li
    a.purge(href='#') 
      span.glyphicon.glyphicon-trash 
      span Delete Role  