.toolbar.btn-toolbar
  .btn-group
    button.new.btn.btn-md.btn-primary(data-toggle='tooltip' data-placement='bottom' title='Create new user' type='button')
      span New Role
  .btn-group
    button.refresh.btn.btn-default.btn-md(data-toggle='tooltip' data-placement='bottom' title='Refresh' type='button')
      span.glyphicon.glyphicon-refresh
    button.selection.purge.btn.btn-default.btn-md(data-toggle='tooltip' data-placement='bottom' title='Delete' type='button')
      span.glyphicon.glyphicon-trash
  .more.btn-group
    button.btn.btn-default.btn-md.dropdown-toggle(type='button' data-toggle='dropdown')
      | More &nbsp;
      span.caret
    ul.dropdown-menu.squared
      li
        a(href='#') Suspend
      li
        a(href='#') Import
      li.divider
      li
        a(href='#') Export
  .btn-group.filter.pull-right
    input.form-control.squared.input-md(type='text' placeholder='Search')
    span.glyphicon.glyphicon-search
