body {
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-signin {  
  max-width: 330px;
  padding: 0 15px;
  margin: 0 auto;
}
.page-header {
  border-bottom:none;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  /*margin-bottom: 10px;*/
}
.form-signin .checkbox {
}
.form-signin .checkbox, .form-signin .forgot_passwd {
  font-weight: normal;
  display: inline-block;
}
.form-signin .forgot_passwd {
/*margin-top: 10px;*/
position: absolute;
top: 382.56702880859375px;
left: 54.01844264228562%;
}

body.chrome .form-signin .forgot_passwd {
  top: 385.26702880859375px;
}

.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin button[type="submit"] {
  margin-bottom: 3px;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
footer {
position: fixed;
bottom: 10px;
left: 38px;
color: #999999;
}
#msgs {
padding: 0 28%;
margin: 0 auto;
height: 80px;
text-align: center;
}
#msgs > .alert {
margin: 0 auto;
}