project/project
project/target
target
.idea
.idea_modules
schola.sublime-project
schola.sublime-workspace
activator-*.sbt
templates
README.html
LICENSE.html
LICENSE
repository
RUNNING_PID
logs
tmp
.history
dist/
cli/test
logs
Tools

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
*.map

# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tmproj
nbproject
Thumbs.db

# NPM packages folder.
node_modules/

# Brunch folder for temporary files.
tmp/

# Brunch output folder.
main.js
main.css

# Brunch output folder.
admin.js
admin.css

# Brunch output folder.
schools.js
schools.css

# Brunch output folder.
tmpl.js
vendor.js

# Bower stuff.
bower_components/
