@()(implicit request: RequestHeader)

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="Amadou Cisse">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href='@routes.Assets.at("ico/favicon.png")'>
    <title>Schola</title>
    <link href='@routes.Assets.at("css/vendor.css")' rel="stylesheet">
    <link href='@routes.Assets.at("main.css")' rel="stylesheet">
    <script type="text/javascript" charset="utf-8" src="/api/@ma.epsilon.schola.API_VERSION/javascriptRoutes"></script>
  </head>
  <body>
    <nav role="navigation" class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <ul class="nav navbar-nav navbar-left">
            <li id='top-menu' class="dropdown">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle current-app"><span class="navbar-brand"></span> <b class="caret"></b></a>
              <ul role="menu" class="dropdown-menu squared">
              </ul>
            </li>
          </ul>          
        </div>
        <div class="collapse navbar-collapse">
          <form id="search" role="search" class="navbar-form navbar-left">
            <div class="btn-group">
              <input type="text" placeholder="Search users" style='width:100%;' class="squared form-control input-sm"><span class="glyphicon glyphicon-search"></span>
            </div>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle"><span class="glyphicon glyphicon-wrench"></span><b class="caret"></b></a>
              <ul role="menu" class="dropdown-menu squared">
                <li><a href='@routes.Profile.edit'>Edit Account</a></li>
                <li><a href='@routes.Passwords.changePage()'>Change Password</a></li>
                <li class="divider"></li>
                <li><a href="#/Sessions">Sessions</a></li>
              </ul>
            </li>
            <li><a href='@routes.LoginPage.logout' data-toggle="tooltip" title="Logout"><span class="glyphicon glyphicon-log-out"></span></a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="main" class="container-fluid">
      <div class="row">
        <div id="sidebar" role="navigation" class="col-md-2"></div>
        <div id="content" class="col-md-10"></div>
      </div>
      <!-- <div class="row">
        <div class="col-md-12">    
          <footer class="pull-right">
            <p>© Amadou CISSE 2014.</p>
          </footer>
        </div>
      </div> -->
    </div>
    <script type='text/javascript' charset='utf-8' src='@routes.Assets.at("javascripts/runtime.js")'></script>
    <script type='text/javascript' charset='utf-8' src='@routes.Assets.at("javascripts/tmpl.js")'></script>
    <script type='text/javascript' charset='utf-8' src='@routes.Assets.at("javascripts/vendor.js")'></script>
    <script type='text/javascript' charset='utf-8' src='@routes.Assets.at("main.js")'></script>
    <script type="text/javascript">
      //<![CDATA[    
      var sGeobytesLocationCode="MACACASA";var sGeobytesIsLocationMatch=false;var sGeobytesCountry="Morocco";var sGeobytesIso2="MA";var sGeobytesCity="Casablanca";
      //]]>
    </script>
    <script src="http://gd.geobytes.com/gd?after=-1&variables=GeobytesCountry,GeobytesCity,GeobytesIso2" aysnc='true'></script>
    <script type='text/javascript' charset='utf-8'>

      //<![CDATA[

      NProgress.start();

      var exports = this;
      
      function isElementInViewport(el) {
        var rect = el.getBoundingClientRect();
        
        return (
          rect.top >= 0 &&
          rect.left >= 0 &&
          rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) && /*or $(window).height() */
          rect.right <= (window.innerWidth || document.documentElement.clientWidth) /*or $(window).width() */
        );
      }        
      
      (function($) {
        $.fn.scrollIntoView = function() {
          return this.each(function(){
            if(!isElementInViewport(this)) 
              this.scrollIntoView();
            })
        }
      })(jQuery);
      
      jQuery(function($){          
      
        var App = require("js/index");
        
        exports.app = new App;

        app.on('loaded', NProgress.done);
        
        // button state demo
        //- $('#fat-btn')
        //-   .click(function () {
        //-     var btn = $(this)
        //-     btn.button('loading')
        //-     setTimeout(function () {
        //-       btn.button('reset')
        //-     }, 3000)
        //-   });
        
        $('button[data-dismiss=alert]').click(function(){ $(this).parent('.alert').remove(); return false; })
        
        $(document).tooltip({
          selector: '[data-toggle=tooltip]',
          container: $(document.body)
        });
        
        @request.flash.get("success").map { msg =>
          INFO('@msg', 'Success!')
        }
        
        @request.flash.get("error").map { msg =>
          ERROR('@msg', 'Error!'); 
        }               
        
        function ShowMsg(msg, title, className) {
          var htm = '';
          if(title) htm = "<strong>" + title + "</strong> &nbsp;" + msg;
          else htm = msg;
          
            try { 
              $('#msg').fadeOut();
              window.__msgs && clearTimeout(window.__msgs);
            } catch(e) {}
            
          $(
            ['<div id=msg class="alert ' + className + ' alert-dismissable">',
              '<button type=button class=close data-dismiss=alert aria-hidden=true>&times;</button>',
              htm,
              '</div>'].join('')).prependTo(document.body);
              
          $('#msg').fadeIn();
          
          window.__msgs = setTimeout(function(){ $('#msg').fadeOut(); }, 6000);
        }
        
        function ERROR(msg, title) {
          ShowMsg(msg, title, 'alert-danger')
        }
        
        function INFO(msg, title) {
          ShowMsg(msg, title, 'alert-success')
        }

        /*

        (function() {
          try {
            var $_console$$ = console;
            Object.defineProperty(window, "console", {
              get: function() {
                if ($_console$$._commandLineAPI)
                  throw "Sorry, for security reasons, the script console is deactivated on epsilon.ma";
                return $_console$$
              },
              set: function($val$$) {
                $_console$$ = $val$$
              }
            })
          } catch ($ignore$$) {}
        })(); */

      /*

      $('.vote').bind("DOMNodeRemoved", function(e) {
        alert("Removed: " + e.target.id);
      });

      */

      });

      //]]>

    </script>
  </body>
</html>