@(publicKey: String)(implicit request: RequestHeader)

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Amadou Cisse">
    <link rel="shortcut icon" href='@routes.Assets.at("ico/favicon.png")'>
    <title>Schola - Lost password</title>
    <link href='@routes.Assets.at("css/bootstrap.css")' rel="stylesheet">
    <link href='@routes.Assets.at("css/lostpasswd.css")' rel="stylesheet">
  </head>
  <body>
    <div role="navigation" class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header"><a href='@routes.Application.index' class="navbar-brand">Schola</a></div>
      </div>
    </div>
    <div class="container">
      <div class="page-header">
        <h3>Reset your password</h3>
      </div>
    </div>
    <div class="container">
      <form role="form" method="POST" class="form-lostpasswd" action='@routes.Passwords.lost'>
        <fieldset>
          <div class="bs-callout bs-callout-info">
            <p>Instructions will sent to your email on how to reset your password.</p>
          </div>
          <input name="username" type="text" placeholder="Enter email address" required autofocus class="form-control">
          <div id="recaptcha"></div>
          <button type="submit" class="btn btn-primary">Submit</button><a href='@routes.Application.index' class="btn btn-default">Cancel</a>
        </fieldset>
      </form>
    </div>
    <div id="footer">
      <div class="container">
        <p class="text-muted">© Amadou CISSE 2014.</p>
      </div>
    </div>
    <script src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js" charset="utf-8"></script>
    <script src='@routes.Assets.at("javascripts/jquery.min.js")' type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">

      //<![CDATA[      

      jQuery(function($){

        Recaptcha.focus_response_field = function(){};
        
        function showRecaptcha(element) {
          Recaptcha.create('@publicKey', element, {
            theme: "white",
            callback: Recaptcha.focus_response_field
          })
        }

        setTimeout(function(){showRecaptcha('recaptcha')}, 0);
                  
        $(document.body).on('click', '.close', function(){ $(this).parent('.alert').fadeOut(); return false; });
                
        @request.flash.get("error").map { msg => 
          ERROR('@msg', "Error!")
        }        

        function ShowMsg(msg, title, className) {
          var htm = '';
          if(title) htm = "<strong>" + title + "</strong> &nbsp;" + msg;
          else htm = msg;
          
            try { 
              $('#msg').fadeOut();
              window.__msgs && clearTimeout(window.__msgs);
            } catch(e) {}
            
          $(
            ['<div id=msg class="alert ' + className + ' alert-dismissable">',
              '<button type=button class=close data-dismiss=alert aria-hidden=true>&times;</button>',
              htm,
              '</div>'].join('')).prependTo(document.body);
              
          $('#msg').fadeIn();
          
          window.__msgs = setTimeout(function(){ $('#msg').fadeOut(); }, 10000);
        }
        
        function ERROR(msg, title) {
          ShowMsg(msg, title, 'alert-danger')
        }
        
        function INFO(msg, title) {
          ShowMsg(msg, title, 'alert-success')
        }          
      })

      //]]>
      
    </script>
  </body>
</html>