@import './mixin'

html {
min-width: 700px;
overflow: hidden;
/*overflow: auto;
overflow-y: hidden;*/
}

html {
height: 100%;
background-color: #fff;
}

html {
margin: 0;
padding: 0;
border: 0;
vertical-align: baseline;
}

HTML {
margin: 0 !important;
border: none !important;
}

body
  margin: 0
  padding: 0
  border: 0
  height: 100%
  padding-top: 50px
  background: rgba(255,255,255,0.9)
  vertical-align: baseline
  overflow: visible

body, td, input, textarea, select {
font-family: arial,sans-serif;
}
.navbar-form
  width: 500px

.page-header
  border-bottom: none

.container .text-muted
  margin: 20px 0

footer
  // position: fixed
  // bottom: 10px
  // left: 38px
  color: #999

#msg
  position: absolute
  left: 300px
  top: 70px
  display: none

#main
  height: 100%

#main .row
  height: 100%

#sidebar {
  margin: 0;
  padding: 0;
  padding-left: 15px;

  /*position: absolute;*/
  left: 0;
  width: 14.8033924441%;

  height: 100%;

  border-top: 0; 
  border-right: 1px solid #ebebeb;

  background-color: #fff;
}

#content {
  margin: 0;
  padding: 0;
  border-top: 0; 
  width: 85.1966075559%;

  height: 100%
}

.scrollable {
  overflow: auto;
  overflow-x: hidden;
}

.shadow {
width: 100%;
margin-right: 0;
height: 8px;
position: absolute;
/*top: 60px;*/
left: 0;
opacity: 0;
border-top: 1px solid rgba(0, 0, 0, 0.4);
background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,.2)), to(rgba(0,0,0,0)));
-webkit-mask-box-image: -webkit-gradient(linear, left top, right top, color-stop(0.0, rgba(0,0,0,0)), color-stop(0.5, rgba(0,0,0,.8)), color-stop(1.0, rgba(0,0,0,0)));

z-index: 50;
}

.menu {
  margin-top: 20px;
  color: #ccc;
}

.menuHeader {
  text-transform:uppercase;
  font-size: 13px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

ul.menuItems {
  -webkit-margin-before: 0;
  -webkit-padding-start: 0;

  -moz-margin-before: 0;
  -moz-padding-start: 0;

  margin-top: 5px;
}

ul.menuItems li {
  list-style: none;
  padding: 1px 0;
  margin: 0;
  cursor: pointer;
}

.menuItem.loading a {
outline: thin dotted;
outline: 5px auto -webkit-focus-ring-color;
outline-offset: -2px;
color: #d14836;
}

ul.menuItems a {
  -webkit-user-select: none;
  text-decoration: none;
  color: #333;
  display: block;

  -webkit-padding-start: 6px;
  -moz-padding-start: 6px;  

  outline: 0;
}

ul.menuItems li.active .title{
  font-weight: bold;
  color: #d14836;  
}

ul.menuItems li.active {
  /*background-color: #d8dfea; */
}

ul.menuItems li:hover {
  background-color: #eff2f7;
}

ul.menuItems li {
  border-bottom: 1px solid #fff;
}

ul.menuItems .title {
  font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
  font-size: 13px;
}

.toolbar {
margin: 0;
padding: 10px 10px 15px;
border-bottom: 1px solid #ebebeb;
}

.toolbar .new{
margin-right: 25px;
}

.toolbar .title {
margin: 3px 0 0;
padding: 0;
}

.toolbar .back {
margin-right: 45px;
}

.toolbar .btn-group {
}

.toolbar .paging .btn-group {
float: right;
}

.toolbar .more {
margin-left: 45px;
}

.toolbar .btn {
font-weight: bolder;
}

.toolbar .glyphicon {
font-weight: bolder;
}

.toolbar .paging-info {
position: relative;
top: 6.5px;
font-size: 16px;
}

.toolbar .selection {
display: none;
}

.toolbar.has-selection .selection {
display: inline-block;
}

.toolbar .paging {
display: none;
}

.toolbar.needs-paging .paging {
display: inline-block;
}

.toolbar .select {
  height: 34px;
}

.toolbar.has-selection .refresh {
  display: none
}

.toolbar.has-selection .checker{
 background: url(images/checkmark-partial.png) no-repeat -4px -3px; 

 background-color: #fff;
background-color: rgba(255,255,255,.65);
}

.toolbar.has-selection.all .checker{
 background: url(images/checkmark.png) no-repeat -5px -3px; 
}

.users .list,
.roles .tree {
padding: 0;
margin: 0;

vertical-align: baseline;

display: table;
}

.roles .tree {
}

.scrollable {
overflow-y: auto;
zoom: 1;

-webkit-overflow-scrolling: touch;
}

.users .list {
width: 100%;

position: relative;
padding: 0 10px;
}

.users .list *{
  /*overflow: hidden;*/
}

.users .list *,
.roles .tree * {
white-space: nowrap;

-webkit-user-select: none;
-moz-user-select: none;
}

.users .tr {
  color: #222;
/*background: rgba(255,255,255,.9);*/

display: table-row;
vertical-align: inherit;
border-color: inherit;
}

.users .tr {
cursor: pointer;
}

.users .tr .select:hover .checker,
.toolbar .select .checker:hover, {
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.1);
box-shadow: inset 0 1px 1px rgba(0,0,0,.1);
border: 1px solid #b2b2b2;
}

.users .tr .select .checker:focus,
.toolbar .select:focus .checker {
border: 1px solid #4d90fe;
}

.users .tr .select,
.toolbar .select {
  cursor: default;
}

.users .tr .td {
  display: table-cell;

empty-cells: show;
/*font-size: 80%;*/
height: 2.83ex;
outline: none;
overflow: hidden;
/*padding: 3px 0 1px;*/
vertical-align: middle;
white-space: nowrap;  
}

.users .tr .td {
border-bottom: 1px #e5e5e5 solid;
}

.users .tr .td {
padding-top: 7px;
padding-bottom: 7px;

padding-right: 6px;
padding-left: 0;
}

.users .tr .select {
padding-right: 0;
padding-left: 20px;
}

.users .tr .select .checker,
.toolbar .select .checker {
padding: 7px 0!important;

text-align: left;
width: 24px;

-webkit-border-radius: 0;
border-radius: 0;
background-color: rgba(255,255,255,.05);
border: 1px solid #c6c6c6;
border: 1px solid rgba(155,155,155,.57);
font-size: 1px;
height: 15px;
margin: 0;
outline: 0;
vertical-align: text-bottom;
width: 15px;
}

.users .tr.selected .checker {
background-color: #fff;
background-color: rgba(255,255,255,.65);
}

.users .tr.selected .checker {
background: url(images/checkmark.png) no-repeat -5px -3px;
}

.checker {
outline: 0;
left: 0;
position: relative;
/*top: -3px;*/
}

.users .tr:hover,
.roles .tree-item:hover {
/*background-color: #eee;*/
}

.users .tr.selected, .q{
background-color: #ffc;
}

.dropdown-menu.squared,
input.squared,
textarea.squared,
select.squared {
  border-radius: 0
  
}

.dropdown-menu .no-icon {
  -webkit-padding-start: 14px;
  -moz-padding-start: 14px;
}

.dropdown-menu .glyphicon {
padding-right: 12px;
}

.q {
  font-style: italic;
  font-weight: bolder;
}


.roles .toolbar .filter .glyphicon {
position: absolute;
top: 11.5px;
right: 7px;
}

#search .btn-group {
  display: block;
}

#search .btn-group input {
  width: 100%
}

#search .glyphicon {
position: absolute;
top: 8px;
right: 9px;  
}

.roles .toolbar .filter input {
  border-radius: 0;
}

.roles .toolbar .filter {
width: 250px;
padding-top: 2px;
}

.users .toolbar .purge,
.users .toolbar .refresh,

.roles .toolbar .purge,
.roles .toolbar .refresh {
  padding-left: 15px;
padding-right: 15px;
}

.toolbar:not(.has-selection) .refresh,
.toolbar.has-selection .purge {
border-radius: 4px !important;
}

.users form fieldset .form-control {
max-width: 330px;
}

.users form .form-control {
position: relative;
font-size: 16px;
height: auto;
padding: 10px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

.users form fieldset{
  padding: 15px;
  margin: auto 0;
  margin-top: 7px;
}

.users form .it {
padding: 15px;
/*height: 600px;*/
}

.users form #gender .radio-inline{
margin-top: 3px;
}

.users form #profiles_content > div > div {
padding: 0;
}

.users form .avatar_fm {
position: absolute;
height: 108px;
margin: 15% 15%;
top: 5px;
left: 19px;
visibility: hidden;
}

.users form .avatar_fm_wrapper:hover .avatar_fm {
  visibility: visible;
}

.chosen-container-single .chosen-single {
  height: 27px !important;
}

.users form .avatar_fm a {
  display: block;
  margin: 5px auto 0;
  cursor: pointer;
  color: #000;
}

.users form .row {
margin-bottom: 15px;
}

.users form .page-header {
  margin: 0;
}

.btn-group .btn + .btn {
  margin-left: 0 !important;
}

.roles .tree {
-webkit-padding-end: 5px;
-webkit-padding-start: 10px;

-moz-padding-end: 5px;
-moz-padding-start: 10px;

box-sizing: border-box;
max-width: 50%;
min-width: 50px;
padding-bottom: 5px;
padding-top: 5px;
width: 200px;

height: 100%;
}

.users .dropdown-menu.fixed,
.roles .dropdown-menu.fixed {
  position: fixed;
  white-space: nowrap;
}

.tooltip-inner {
  font-weight: bold;
padding: 5px 8px;
}

.roles .tree > .tree-item > .tree-row {
  -webkit-padding-start: 0px;
  -moz-padding-start: 0px;
}

.roles .tree > .tree-item .tree-children > .tree-item > .tree-row {
  -webkit-padding-start: 20px;
  -moz-padding-start: 20px;
}

.roles .tree > .tree-item .tree-children > .tree-item > .tree-children > .tree-item > .tree-row {
  -webkit-padding-start: 40px;
  -moz-padding-start: 40px;
}

.roles .tree > .tree-item .tree-children > .tree-item > .tree-children > .tree-item > .tree-children > .tree-item > .tree-row {
  -webkit-padding-start: 60px;
  -moz-padding-start: 60px;
}

.roles .tree > .tree-item .tree-children > .tree-item > .tree-children > .tree-item > .tree-children > .tree-item > .tree-children > .tree-item > .tree-row {
  -webkit-padding-start: 80px;
  -moz-padding-start: 80px;
}

.roles .tree > .tree-item .tree-children > .tree-item > .tree-children > .tree-item > .tree-children > .tree-item > .tree-children > .tree-item > .tree-children > .tree-item > .tree-row {
  -webkit-padding-start: 100px;
  -moz-padding-start: 100px;
}

.btn-group.title {
margin-left: -40px;
}

.back {
  color: #ccc;
}

.back:hover {
  color: #4183c4;
}

.toolbar .back .glyphicon {
font-size: 18px;
}

[role=navigation] .container-fluid {
margin: auto 30px;
}

/* --------------------------------------------------------- */

.modal-content {
  border-radius: 0;
}

.modal-title {
  font-size: 16px;
}

.modal-header .close {
position: absolute;
right: 20px;
}

.modal-header {
  border-bottom: none;
  padding-bottom: 0;
}

.modal-body label {
  font-weight: normal;
}

.modal-body {
  padding-bottom: 0;  
}

.modal-footer {
  padding-top: 5px;
  border-top: none;
}

.modal-footer .btn {
  font-weight: bold;
}

select {
 /* padding: 0 !important;*/
}

.modal-header, 
.modal-body, 
.modal-footer {
  padding-right: 50px;
  padding-left: 50px;
}

.modal-footer .btns .btn + .btn {
  margin-left: 10px
}

/* Trees */

.tree {
  display: block;
  outline: none;
  /*overflow: auto;*/
}

.tree-item > .tree-row {
  -webkit-user-select: none;
  -moz-user-select: none;

  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 255, 255, 0); /* transparent white */
  border-radius: 2px;
  color: black;
  cursor: default;
  line-height: 28px;
  padding: 0 3px;
  position: relative;
  white-space: nowrap;
}

.expand-icon {
  -webkit-transform: rotate(-90deg);
  -webkit-transition: all 150ms;  
  background-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAYAAAB24g05AAAAfElEQVQoU5WRWw4AEQxF2QgbEQvzY2Y+bMxK2AhTj8RIO2gitxHnNFHOatmWp3FzgIUQl5TyCA4hsBhjFSilrNYa+u3y3qf3PB1KxphtGB465yD4OHVb0uFimMYuJSOMCeCOlMwwJUAlGPwn+EgoeCUokvZH5IqPdo/tOQNWHCoMt5fEVgAAAABJRU5ErkJggg==');

  -moz-transform: rotate(-90deg);
  -moz-transition: all 150ms;  

  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 8px 5px;
  display: inline-block;
  height: 16px;
  opacity: .6;
  position: relative;
  top: 6px;
  vertical-align: top;
  width: 16px;
}

.tree-item.expanded > .tree-row > .expand-icon {
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);  

  opacity: .5;
}

.tree-row .expand-icon {
  visibility: hidden;
}

.tree-row.has-children .expand-icon {
  visibility: visible;
}


.tree-row:hover {
}

.tree-children {
  display: none;
}

.tree-item .tree-row span + span {
padding-left: 7px;
}

.tree-children.expanded {
  display: block;
}

.tree-item > .tree-row > * {
  box-sizing: border-box;
  display: inline-block;
}

.tree-row.selected{
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.8),
                                            rgba(255,255,255,0));

  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.8),
                                        rgba(255,255,255,0));
}

.tree-row.selected{
  background-color: hsl(0, 0%, 90%);
  border-color: hsl(0, 0%, 85%);
  z-index: 2;
}

.tree-row:hover {
  background-color: hsl(214, 91%, 97%);
  border-color: hsl(214, 91%, 85%);
  z-index: 1;
}

.tree-row.selected:hover,
.tree:focus .tree-row.selected {
  background-color: hsl(214, 91%, 89%);
  border-color: rgb(125, 162, 206);
}

.tree-label {
  -webkit-padding-start: 20px;
  background-position: 0 50%;
  background-repeat: no-repeat;
  white-space: pre;

  -webkit-padding-start: 0;
  background-image: none !important;
}

/* We need to ensure that even empty labels take up space */
.tree-label:empty::after {
  content: ' ';
  white-space: pre;
}

/* Trees */

.stack > *:not(.active) {
  display: none
}

/* Scroll bar */

::-webkit-scrollbar {
width: 16px;
height: 16px;
}

::-webkit-scrollbar-thumb {
min-height: 28px;
padding-top: 100px;
border-left: 6px solid transparent;
border-right: 1px solid transparent;
border-top: 0 solid transparent;
border-bottom: 0 solid transparent;
background-clip: padding-box;
background-color: rgba(0, 0, 0, 0.2);
-webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}

::-webkit-scrollbar-button {
height: 0;
width: 0;
}

::-webkit-scrollbar-track {
border-left: 6px solid transparent;
border-right: 1px solid transparent;
background-clip: padding-box;
}