ul.dropdown-menu.squared.fixed(role='menu')
  li
    a.edit(href='#') 
      span.glyphicon.glyphicon-pencil 
      span Edit
  li
    a.purge(href='#') 
      span.glyphicon.glyphicon-trash 
      span Delete
  li
    a.purge(href='#') 
      span.glyphicon.glyphicon-lock 
      span Suspend
  li.divider
  li
    a.purge(href='#') 
      span.glyphicon.glyphicon-edit
      span Change Password
  li
    a.purge(href='#') 
      span.glyphicon.glyphicon-envelope 
      span Send Invitation