.modal
  .modal-dialog
    form#label-form.modal-content(role=form)
      .modal-header
        p
          button.close.pull-right(type='button' data-dismiss='modal' aria-hidden='true') ×
        .modal-title
      .modal-body
        fieleset
          .form-group
            input.form-control(type='text' name='name' placeholder='New label name' autofocus required)
            input.form-control(type='hidden' name='color')
            ul.color-chooser.js-color-chooser
              li
                span.color-cooser-color.js-color-cooser-color.labelstyle-e11d21(style='background-color: #e11d21 !important;', data-hex-color='e11d21')
              li
                span.color-cooser-color.js-color-cooser-color.labelstyle-eb6420(style='background-color: #eb6420 !important;', data-hex-color='eb6420')
              li
                span.color-cooser-color.js-color-cooser-color.labelstyle-fbca04(style='background-color: #fbca04 !important;', data-hex-color='fbca04')
              li
                span.color-cooser-color.js-color-cooser-color.labelstyle-009800(style='background-color: #009800 !important;', data-hex-color='009800')
              li
                span.color-cooser-color.js-color-cooser-color.labelstyle-006b75(style='background-color: #006b75 !important;', data-hex-color='006b75')
              li
                span.color-cooser-color.js-color-cooser-color.labelstyle-207de5(style='background-color: #207de5 !important;', data-hex-color='207de5')
              li
                span.color-cooser-color.js-color-cooser-color.labelstyle-0052cc(style='background-color: #0052cc !important;', data-hex-color='0052cc')
              li
                span.color-cooser-color.js-color-cooser-color.labelstyle-5319e7(style='background-color: #5319e7 !important;', data-hex-color='5319e7')
            ul.color-chooser.js-color-chooser
              li
                span.color-cooser-color.js-color-cooser-color.labelstyle-f7c6c7(style='background-color: #f7c6c7 !important;', data-hex-color='f7c6c7')
              li
                span.color-cooser-color.js-color-cooser-color.labelstyle-fad8c7(style='background-color: #fad8c7 !important;', data-hex-color='fad8c7')
              li
                span.color-cooser-color.js-color-cooser-color.labelstyle-fef2c0(style='background-color: #fef2c0 !important;', data-hex-color='fef2c0')
              li
                span.color-cooser-color.js-color-cooser-color.labelstyle-bfe5bf(style='background-color: #bfe5bf !important;', data-hex-color='bfe5bf')
              li
                span.color-cooser-color.js-color-cooser-color.labelstyle-bfdadc(style='background-color: #bfdadc !important;', data-hex-color='bfdadc')
              li
                span.color-cooser-color.js-color-cooser-color.labelstyle-c7def8(style='background-color: #c7def8 !important;', data-hex-color='c7def8')
              li
                span.color-cooser-color.js-color-cooser-color.labelstyle-bfd4f2(style='background-color: #bfd4f2 !important;', data-hex-color='bfd4f2')
              li
                span.color-cooser-color.js-color-cooser-color.labelstyle-d4c5f9(style='background-color: #d4c5f9 !important;', data-hex-color='d4c5f9')
      .modal-footer
        .btns.pull-left
          button.ok.btn.btn-primary(type='submit') Create
          button.btn.btn-default(type='button' data-dismiss='modal') Cancel