.tag-item
  .color-wrapper
    .color
    | &nbsp;
  .name
  .btn-group.actions
    button.del.btn.btn-link.btn-sm(type='button')
      | remove
    button.edit.btn.btn-link.btn-sm(dtype='button')
      | edit
