.tags-wrapper
  .tags-header
    h3 Manage Labels
  .tags-toolbar
    .btn-group
      button.new.btn.btn-md.btn-primary(data-toggle='tooltip' data-placement='bottom' title='Create new label' type='button')
        span.glyphicon.glyphicon-plus
    .btn-group.filter
      input.form-control.squared.input-md(type='text' placeholder='Filter' autofocus)
      span.glyphicon.glyphicon-search
  .shadow
  .scrollable      
    .tags-list