ul.dropdown-menu.squared.fixed(role='menu')
  li
    a.purge(href='#') 
      span.glyphicon.glyphicon-exclamation-sign 
      span Delete Forever  
  li
    a.restore(href='#') 
      span.glyphicon.glyphicon-save 
      span Restore