.user.tr  
  .td.select
    .checker
  .td.purge
    button.selection.purge.btn.btn-link.btn-md(data-toggle='tooltip' data-placement='bottom' title='Delete Forever' type='button')
      span.glyphicon.glyphicon-exclamation-sign    
  .td
    span
      b.fullName
  .td
    span
      b.primaryEmail