.toolbar.btn-toolbar
  .btn-group
    button.btn.back.btn-md.btn-primary(data-toggle='tooltip' data-placement='bottom' title='Back' type='button')
      span.glyphicon.glyphicon-chevron-left
      span &nbsp; Back to Trash
  .btn-group
    button.refresh.btn.btn-default.btn-md(data-toggle='tooltip' data-placement='bottom' title='Refresh' type='button')
      span.glyphicon.glyphicon-refresh
  .btn-group
    button.purge.btn.btn-default.btn-md(data-toggle='tooltip' data-placement='bottom' title='Delete Forever' type='button')
      span.glyphicon.glyphicon-exclamation-sign
    button.restore.btn.btn-default.btn-md(data-toggle='tooltip' data-placement='bottom' title='Restore' type='button')
      span.glyphicon.glyphicon-save
.shadow