.modal
  .modal-dialog
    form.modal-content(role=form)
      .modal-header
        p
          button.close.pull-right(type='button' data-dismiss='modal' aria-hidden='true') ×
        .modal-title New Role
      .modal-body
        fieleset
          .form-group
            label.control-label(for='name') Please enter a new role name:
            input.form-control(type='text' name='name' autofocus required)
          .form-group
            label.control-label(for='parent') Nest role under:
            select.form-control(name='parent')                
      .modal-footer
        .btns.pull-left
          button.btn.btn-primary(type='button') Create
          button.btn.btn-default(type='button' data-dismiss='modal') Cancel