ul.dropdown-menu.fixed(role='menu')
  li
    a.view(href='#') 
      span.no-icon View User Info
  li.divider  
  li
    a.edit(href='#') 
      span.glyphicon.glyphicon-edit 
      span Edit User
  li
    a.purge(href='#') 
      span.glyphicon.glyphicon-trash 
      span Delete User  
  li
    a.purge(href='#') 
      span.glyphicon.glyphicon-remove 
      span Suspend User        