.toolbar.btn-toolbar
  .btn-group
    button.btn.back.btn-md.btn-default(data-toggle='tooltip' data-placement='bottom' title='Back' type='button')
      span.glyphicon.glyphicon-chevron-left
      span
  .btn-group
    h3.title= title
  .btn-group.pull-right
    button.save.btn.btn-primary.btn-md(data-toggle='tooltip' data-placement='bottom' data-saving-text='Saving...' title='Save' type='button')
      span.spin
      span Save