body {
  padding-top: 40px;
  padding-bottom: 40px;
}

.page-header {border-bottom:none}

#addresses .page-header {
  margin: 10px auto;
}

#contacts .page-header {
  margin: 10px auto;
}

.form-editprofile fieldset .form-control {
max-width: 330px;
}

.form-editprofile fieldset{
  padding: 15px;
  margin: auto 0;
  margin-top: 7px;
}

.form-editprofile .tab-pane {
min-height: 380px;
}

#name .form-control {
  max-width: 220px;
}

#gender > label:first-child {
display: block;
}

#gender .radio-inline:last-child {
margin-top: 3px;
}

#gender .radio-inline {
margin-left: 17px;
}

.form-editprofile .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.form-editprofile .form-control:focus {
  z-index: 2;
}
