.toolbar.btn-toolbar
  .btn-group
    button.select.btn.btn-default.btn-md(data-toggle='tooltip' data-placement='bottom' title='Select' type='button')
      .checker
    button.new.btn.btn-md.btn-primary(data-toggle='tooltip' data-placement='bottom' title='Create new user' type='button')
      span New User
  .btn-group
    button.refresh.btn.btn-default.btn-md(data-toggle='tooltip' data-placement='bottom' title='Refresh' type='button')
      span.glyphicon.glyphicon-refresh
    button.selection.purge.btn.btn-default.btn-md(data-toggle='tooltip' data-placement='bottom' title='Delete' type='button')
      span.glyphicon.glyphicon-trash
  .more.btn-group
    button.btn.btn-default.btn-md.dropdown-toggle(type='button' data-toggle='dropdown')
      | More &nbsp;
      span.caret
    ul.dropdown-menu.squared
      li
        a(href='#') Suspend
      li
        a(href='#') Import
      li.divider
      li
        a(href='#') Export
  .paging.pull-right
    span.paging-info 
      strong.interval 
        span.start
        |–
        span.end
      | of 
      strong.count
    .btn-group
      button.prev.btn.btn-default.btn-md(data-toggle='tooltip' data-placement='bottom' title='Previous' type='button')
        span.glyphicon.glyphicon-chevron-left
      button.next.btn.btn-default.btn-md(data-toggle='tooltip' data-placement='bottom' title='Next' type='button')
        span.glyphicon.glyphicon-chevron-right
.shadow
