-@ val flash: Map[String, String]
-@ val _session_rememberMe: Boolean = false
-@ val rememberMe: Boolean = flash.get("rememberMe").map(_ == "T") getOrElse _session_rememberMe
-@ val error: Boolean = flash.get("error").exists(_ == "T")
!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='description' content='')
    meta(name='author' content='Amadou Cisse')
    link(rel='shortcut icon' href='/assets/ico/favicon.png')
    title Schola - Sign In
    link(href={uri("/assets/css/bootstrap.css")} rel='stylesheet')
    link(href={uri("/assets/css/signin.css")} rel='stylesheet')
  body
    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          a.navbar-brand(href='/') Schola
    .container
      form.form-signin(role='form' method='POST')
        .page-header
          h2
            | Sign in                                            
        input.form-control(name='username' type='text' placeholder='Email address' required autofocus)
        input.form-control(name='password' type='password' placeholder='Password' required)
        button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
        label.checkbox
          - if(rememberMe)
            input(name='remember_me' type='checkbox' value='remember-me' checked)
          - else
            input(name='remember_me' type='checkbox' value='remember-me')
          | Stay signed in       
        span.forgot_passwd.pull-right
          a(href='/LostPasswd') Forgot password
    script(src={uri("/assets/javascripts/jquery.min.js")})
    script(src={uri("/assets/javascripts/validations.js")})
    :javascript

      jQuery(function($){

        $('.form-signin').submit(function(){

            var email = $('.form-signin input[name="username"]');
            var passwd = $('.form-signin input[name="password"]');

            if(validEmail(email.val())) {
              showError(email, '');
              setTimeout(email.focus.bind(email), 0);
              return false;
            }

            if(validEmpty(passwd.val())) {
              hideError(passwd);
              setTimeout(passwd.focus.bind(passwd), 0);
              return false;
            }

            return true;
          })
        })